<html>

<head>
    <meta charset="UTF-8">
    <title>Nevis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <meta http-equiv="Content-Security-Policy" content="default-src self; script-src 'unsafe-eval' 'unsafe-inline' 'self';img-src 'self'; font-src 'self'; style-src 'unsafe-inline' 'self'">
</head>

<body>
    <div id="titlebar">
        <img src="../assets/Nevis Logo.png" />
        <p>Nevis</p>
        <button id="titlebar-close">
            <svg color="white" width="10" height="10">
                <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
            </svg>
        </button>
        <button id="titlebar-maximize">
            <svg color="white" id="titlebar-icon-min" width="10" height="10" style="display:none">
                <path d="M 0,0 0,10 10,10 10,0 Z M 1,1 9,1 9,9 1,9 Z"></path>
            </svg>
            <svg color="white" id="titlebar-icon-max" width="10" height="10">
                <path d="m 2,1e-5 0,2 -2,0 0,8 8,0 0,-2 2,0 0,-8 z m 1,1 6,0 0,6 -1,0 0,-5 -5,0 z m -2,2 6,0 0,6 -6,0 z"></path>
            </svg>
        </button>
        <button id="titlebar-minimize">
            <svg color="white" width="10" height="10">
                <path d="M 0,5 10,5 10,6 0,6 Z"></path>
            </svg>
        </button>
    </div>
    <div id="menu" style="display:none">
        <div id="menu-main">
            <button onClick="navigatePage('Download')">Download</button>
            <button onClick="navigatePage('Entries')">Entries</button>
            <button onClick="navigatePage('Courses')">Courses</button>
            <button onClick="navigatePage('Results')">Results</button>
            <button onClick="navigatePage('About')">About</button>
        </div>
        <div id="menu-download" style="display:none">
            <div is="menu-download-port" class="dropdown-menu">
                <h4>Port:</h4>
                <button id="menu-download-port-button" onClick="downloadPortMenuToggle()">
                    <p id="menu-download-port-button-content">Select a Port</p>
                    <svg viewBox="0 0 24 24">
                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                        <path d="M0-.75h24v24H0z" fill="none" />
                    </svg>
                </button>
                <ul id="menu-download-port-dropdown" class="hidden">
                    <li value="No Ports Connected" onClick="downloadChangePort('No Ports Connected')">No Ports Connected</li>
                </ul>
            </div>
            <div id="menu-download-baud" class="dropdown-menu">
                <h4>Baud:</h4>
                <button onClick="downloadBaudMenuToggle()">
                    <p id="menu-download-baud-button-content">4800</p>
                    <svg viewBox="0 0 24 24">
                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                        <path d="M0-.75h24v24H0z" fill="none" />
                    </svg>
                </button>
                <ul id="menu-download-baud-dropdown" class="hidden">
                    <li onClick="downloadChangeBaud(4800)">4800 (Serial)</li>
                    <li onClick="downloadChangeBaud(38400)">38400 (USB)</li>
                </ul>
            </div>
            <div id="menu-download-printer" class="dropdown-menu">
                <h4>Printer:</h4>
                <button onClick="downloadPrinterMenuToggle()">
                    <p id="menu-download-printer-button-content">No Printing</p>
                    <svg viewBox="0 0 24 24">
                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                        <path d="M0-.75h24v24H0z" fill="none" />
                    </svg>
                </button>
                <ul id="menu-download-printer-dropdown" class="hidden">
                    <li value="No Printers Connected" onClick="downloadChangePrinter('No Printing')">No Printing</li>
                </ul>
            </div>
            <button id="menu-download-connect-button" onClick="connectPort()">Connect</button>
        </div>
        <div id="menu-entries" style="display:none">
            <button onClick="navigatePage('Entries/Add')">Add Entry</button>
            <button onClick="importXMLEntries()">Import IOF XML</button>
            <button onClick="deleteAllEntries()">Delete All Entries</button>
        </div>
        <div id="menu-entries-add" style="display:none">
            <button onClick="blankEntry()">Clear Entry</button>
            <button onClick="addEntry()">Submit Entry</button>
        </div>
        <div id="menu-entries-update" style="display:none">
            <button onClick="updateEntry()">Update Entry</button>
            <button onClick="deleteEntry()">Delete Entry</button>
        </div>
        <div id="menu-courses" style="display:none">
            <button onCLick="navigatePage('Courses/Add')">Add Course</button>
            <button onCLick="importXMLCourses()">Import IOF XML</button>
            <button onClick="importJSONCourses()">Import Nevis JSON</button>
            <button onClick="deleteAllCourses()">Delete All Courses</button>
        </div>
        <div id="menu-courses-add" style="display:none">
            <button onClick="blankCourse()">Clear Details</button>
            <button onClick="addCourse()">Create Course</button>
        </div>
        <div id="menu-courses-update" style="display:none">
            <button onClick="updateCourse()">Update Course</button>
            <button onClick="deleteCourse()">Delete Course</button>
        </div>
        <div id="menu-results" style="display:none">
            <button onClick="generateHTMLResults()">Export HTML</button>
            <button onClick="generatePDFResults()">Export PDF</button>
            <button onClick="generateXMLResults()">Export IOF XML</button>
        </div>
        <div id="menu-back" style="display:none">
            <button onClick="navigatePage('Back')">Back</button>
        </div>
    </div>

    <main>
        <div id="welcome" style="display:none">
            <div class="card center colored">
                <img src="../assets/Nevis Logo.png" height="80px" />
                <h2>Welcome to Nevis</h2>
                <button onClick="database.createDatabase()">Create an Event</button>
                <button onClick="database.selectDatabase()">Select an Event</button>
            </div>
        </div>
        <div id="home" style="display:none;">
            <div>
                <div id="home-overview" class="card">
                    <h2>{{ eventInfo.name }}:</h2>
                    <p>{{ competitorsData.length }} Entries</p>
                    <p>{{ downloads }} Downloads</p>
                    <p>{{ courses.length }} Courses</p>
                </div>
            </div>
        </div>
        <div id="download" style="display:none;">
            <div id="download-latest-download" class="card" style="display:none">
            </div>
        </div>
        <div id="entries" style="display:none;">
            <div id="entries-info" class="card info" style="display:none" onClick="hideEntryInfo()">
                <p></p>
            </div>
            <div id="entries-search" style="display:none;">
                <div class="card">
                    <div class="text-input">
                        <input id="entries-search-name" v-model="name" required/>
                        <label for="entries-search-name"> Name </label>
                        <span class="bar"></span>
                    </div>
                    <div class="text-input">
                        <input id="entries-search-siid" v-model="siid" required/>
                        <label for="entries-search-siid"> SI Number </label>
                        <span class="bar"></span>
                    </div>
                    <div class="dropdown-input">
                        <select id="entries-search-course" v-model="course" required>
                            <option></option>
                        </select>
                        <label id="entries-search-course-label" for="entries-search-course">Course
                            <svg id="entries-search-course-svg" for="entries-search-course" fill="#9E9E9E" height="24" viewBox="0 0 24 24" width="24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                                <path d="M0-.75h24v24H0z" fill="none" />
                            </svg>
                        </label>
                    </div>
                </div>

                <transition name="fade">
                    <div class="card" v-if="entries.length > 0">
                        <table>
                            <tr>
                                <th onClick="entriesVue.sortBy = 'name'">Name</th>
                                <th onClick="entriesVue.sortBy = 'siid'">SI Card</th>
                                <th onClick="entriesVue.sortBy = 'course'">Course</th>
                            </tr>
                            <tbody name="fade" is="transition-group">
                                <tr v-for="entry in entries" :key="entry.siid" :id="entry.$loki" onClick="entryLink(this.id)">
                                    <td>{{ entry.name }}</td>
                                    <td>{{ entry.siid }}</td>
                                    <td>{{ entry.course }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </transition>
            </div>

            <div id="entries-add" class="card" style="display:none;">
                <div class="text-input">
                    <input id="entries-add-name" required/>
                    <label for="entries-add-name"> Name </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="entries-add-siid" required/>
                    <label for="entries-add-siid"> SI Number </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="entries-add-membership-number" required/>
                    <label for="entries-add-membership-number"> Membership Number </label>
                    <span class="bar thin"></span>
                </div>
                <div class="text-input">
                    <input id="entries-add-age-class" required/>
                    <label for="entries-add-age-class"> Age Class </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="entries-add-club" required/>
                    <label for="entries-add-club"> Club </label>
                    <span class="bar"></span>
                </div>
                <div class="dropdown-input">
                    <select id="entries-add-course" onClick="entriesAddCourseDropdownRefresh()" required>
                    </select>
                    <label id="entries-add-course-label" for="entries-add-course">Course
                        <svg id="entries-add-course-svg" for="entries-add-course" fill="#9E9E9E" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                            <path d="M0-.75h24v24H0z" fill="none" />
                        </svg>
                    </label>

                </div>
                <div class="checkbox-input">
                    <label for="entries-add-non-competitive">Non-Competitive?
                        <input id="entries-add-non-competitive" type="checkbox" required/>
                        <span for="entries-add-non-competitive" />
                    </label>
                </div>
                <input id="entries-add-id" style="display:none;height:0px!important" />
            </div>
            <div id="entries-download-data" class="card" style="display:none">
            </div>
        </div>
        <div id="results" style="display:none;">
            <div id="results-info" class="card info" onClick="hideResultsInfo()" style="display:none;">
            </div>
            <div id="results-overview">
                <div v-for="course of courses" v-if="results[course.name]" class="card">
                    <h1>{{ course.name }}</h1>
                    <table>
                        <tr>
                            <th class="pos">Pos.</th>
                            <th class="name">Name</th>
                            <th class="class">Class</th>
                            <th class="time">Time</th>
                        </tr>
                        <tr v-for="result in results[course.name]">
                            <td class="pos">{{ result.position }}</td>
                            <td class="name">{{ result.name }}</td>
                            <td class="class">{{ result.ageClass }}</td>
                            <td class="time">{{ readableTimeElapsedWithErrors(result.download.totalTime) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="courses" style="display:none;">
            <div id="courses-info" class="card info" onClick="hideCoursesInfo()" style="display:none;">
            </div>
            <div id="courses-overview">
                <div v-for="course in courses" class="card" :key="course.name" :id="course.$loki" onClick="courseLink(this.id)">
                    <h3>{{ course.name }}</h3>
                    <p>Length: {{ course.length / 1000 }}km Climb: {{ course.climb }}m</p>
                    <p>Controls: {{ course.controls }}</p>
                </div>
            </div>
            <div id="courses-add" style="display:none" class="card">
                <div class="text-input">
                    <input id="courses-add-name" required/>
                    <label for="courses-add-name"> Course Name </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="courses-add-climb" required/>
                    <label for="courses-add-climb"> Climb (m) </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="courses-add-length" required/>
                    <label for="courses-add-length"> Length (km) </label>
                    <span class="bar"></span>
                </div>
                <div class="text-input">
                    <input id="courses-add-controls" required/>
                    <label for="courses-add-controls"> Controls (Comma Separated) </label>
                    <span class="bar"></span>
                </div>
                <input id="courses-add-id" style="display:none;height:0px!important" />
            </div>
        </div>

        <div id="about" style="display:none;">
            <div class="card">
                <h2>System</h2>
                <p id="about-node"> Node Version: </p>
                <p id="about-chrome">Chrome Version: </p>
                <p id="about-electron">Electron Version:</p>
            </div>
            <div class="card">
                <h2>Credits</h2>
                <h4>CRC Algorithm from opensportident</h4>
                <p>MIT License - https://github.com/angexis/opensportident.js/blob/master/LICENSE</p>
                <p>
                    Copyright
                    <br/> (c) 2016 Jan Vorwerk
                    <br/>(c) 2013 Simon Denier
                </p>
                <h4> Serialport </h4>
                <p> MIT License - https://github.com/node-serialport/node-serialport/blob/master/LICENSE</p>
                <p> Copyright (c) 2010 Christopher Williams. All rights reserved. </p>
                <h4> Electron </h4>
                <p> MIT License - https://github.com/electron/electron/blob/master/LICENSE</p>
                <p>Copyright (c) 2013-2017 GitHub Inc. </p>
                <h4> Material Design Icons </h4>
                <p> Apache 2.0 License - https://github.com/google/material-design-icons/blob/master/LICENSE</p>
                <h4> LokiJS </h4>
                <p> MIT License - https://github.com/techfort/LokiJS/blob/master/LICENSE.txt</p>
                <p>Copyright (c) 2015 TechFort</p>
                <h4>VueJS</h4>
                <p>MIT License - https://github.com/vuejs/vue/blob/dev/LICENSE</p>
                <p>Copyright (c) 2013-present, Yuxi (Evan) You</p>
                <h4>EJS</h4>
                <p>Apache 2.0 License - https://github.com/mde/ejs/blob/master/LICENSE</p>
                <p>Copyright (c) 2112 Matthew Eernisse</p>
                <h4>Simple Encryptor</h4>
                <p>MIT License - https://github.com/sehrope/node-simple-encryptor/blob/master/LICENSE</p>
                <p>Copyright (c) 2018 Sehrope Sarkuni</p>
                <h4>XML2JS</h4>
                <p>MIT License - https://github.com/Leonidas-from-XIV/node-xml2js/blob/master/LICENSE</p>
            </div>
            <div class="card">
                <h2>License</h2>
                <h3> MIT License</h3>
                <p>
                    Copyright (c) 2017 Bonalybob
                </p>
                <p>
                    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
                    files (the" Software"), to deal in the Software without restriction, including without limitation the
                    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
                    and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                    The above copyright notice and this permission notice shall be included in all copies or substantial
                    portions of the Software.
                </p>
                <p>
                    THE SOFTWARE IS PROVIDED"AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
                    OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
                    OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
                    TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
                    IN THE SOFTWARE.
                </p>
            </div>
        </div>
    </main>
</body>

<script src="../scripts/index.js"></script>
<script src="../scripts/windowCommands.js"></script>
<script src="../scripts/database.js"></script>
<script src="../scripts/download.js"></script>
<script src="../scripts/entries.js"></script>
<script src="../scripts/results.js"></script>
<script src="../scripts/courses.js"></script>

</html>