<html>

<head>
    <meta charset="UTF-8">
    <title>Nevis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/message.css" />
    <meta http-equiv="Content-Security-Policy" content="default-src self; script-src 'unsafe-inline'  'self' ;img-src 'self'; font-src 'self';style-src 'self' 'unsafe-inline'">
</head>

<body>
    <div id="titlebar">
        <p id="titlebar-text">Nevis</p>
        <button id="titlebar-close">
            <svg color="white" width="10" height="10">
                <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
            </svg>
        </button>
    </div>
    <main>
        <p id="message">Are you sure?</p>
        <div class="buttons">
            <button id="confirm" onClick="returnValue(true)">Yes</button>
            <button id="cancel" onClick="returnValue(false)">Cancel</button>
        </div>
    </main>
</body>
<script>
    const remote = require('electron').remote
    const ipc = require('electron').ipcRenderer
    ipc.send('message-ready')
    document.getElementById('titlebar-close').setAttribute('style', 'display:none')
    ipc.on('message-dialog-initial-data', function (event, data) {
        document.getElementById('message').innerText = data[0]
        document.getElementById('confirm').innerText = data[1]
        document.getElementById('cancel').innerText = data[2]
        document.getElementById('titlebar-text').innerText = data[3]
    })
    document.getElementById('titlebar-close').addEventListener('click', function () {
        window.close()
    })
    function returnValue(button) {
        ipc.send('message-dialog-return', button)
        remote.getCurrentWindow().close()
    }
</script>

</html>