<html>

<head>
    <meta charset="UTF-8">
    <title>Nevis - Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/new-event.css" />
    <meta http-equiv="Content-Security-Policy" content="default-src self; script-src 'unsafe-inline'  'self' ;img-src 'self'; font-src 'self';style-src 'unsafe-inline' 'self'">

</head>

<body>
    <div id="titlebar">
        <p id="titlebar-text">Nevis - Enter Password for Event</p>
        <button id="titlebar-close">
            <svg color="white" width="10" height="10">
                <path d="M 0,0 0,0.7 4.3,5 0,9.3 0,10 0.7,10 5,5.7 9.3,10 10,10 10,9.3 5.7,5 10,0.7 10,0 9.3,0 5,4.3 0.7,0 Z"></path>
            </svg>
        </button>
    </div>
    <main>
        <form>
            <label> Password: </label>
            <input id="password" />
            <button onClick="openEvent()">Open Event</button>
        </form>
    </main>
</body>
<script>
    const remote = require('electron').remote
    const ipc = require('electron').ipcRenderer
    document.getElementById('titlebar-close').addEventListener('click', function () {
        window.close()
    })
    document.getElementById('password').focus()
    function openEvent() {
        ipc.send('open-event', document.getElementById('password').value)
        remote.getCurrentWindow().close()
    }
</script>

</html>