main-color = #1976D2
accent-color = #1E88E5
light-color = #BBDEFB
very-light-color = #E3F2FD

box-shadow(level = 1)
  if (level == 1)
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)

  else if (level == 1.5)
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)

  else if (level == 2)
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)

  else if (level == 3)
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3)

  else if (level == 4)
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3)

  else if (level == 5)
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)

no-user-select()
  user-select: none

html, body
  overflow-x: hidden
  margin: 0
  width: 100vw

h1, h2, h3, h4, h5, h6
  color: main-color
  font-weight: 500
  font-family: Montserrat

p, a
  font-weight: 300
  font-family: Montserrat

ul, li
  margin: 0.25rem 0
  font-weight: 300
  font-family: Montserrat

blockquote
  margin: 0
  padding: 0.35rem 0.8rem
  border-left: 3px solid main-color
  font-weight: 300
  font-family: Montserrat

main
  display: grid
  margin-top: 1rem
  margin-left: 5vw
  width: 90vw
  grid-gap: 0.5rem
  grid-template-columns: 1fr

  @media (min-width: 850px)
    margin-left: 10vw
    width: 80vw

  h2
    margin: 1rem 0
    font-size: 1.75rem

  .grid
    display: grid
    max-width: 100%
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1rem

    img
      width: 100%

    @media (max-width: 700px)
      grid-template-columns: 1fr 1fr

    @media (max-width: 500px)
      grid-template-columns: 1fr

header
  display: flex
  justify-content: space-evenly
  align-items: center
  box-sizing: border-box
  padding: 2.5rem
  width: 100%
  box-shadow(1.5)
  background: linear-gradient(main-color, #2196F3)

  @media (min-width: 1000px)
    padding-right: 10vw
    padding-left: 10vw
    width: 100vw

  @media (min-width: 1400px)
    padding-right: 20vw
    padding-left: 20vw
    width: 100vw

  img
    height: 20rem

  div
    padding: 2rem

    h1
      display: block
      margin: 0
      color: white
      font-size: 2.75rem

    h3
      margin: 0
      padding: 0.75rem 0
      color: white
      font-size: 1.35rem

    #buttons
      padding: 0
      padding-top: 0.5rem

      a
        display: inline-block
        margin-left: 0.35rem
        padding: 0.45rem 0.75rem
        border: 1px solid white
        color: white
        text-decoration: none
        transition: 0.3s

        &:first-child
          margin: 0

        &:hover
          background-color: alpha(white, 0.3)

  @media (max-width: 800px)
    display: block
    padding: 1.5rem
    text-align: center

    img
      height: 15rem

    a
      box-sizing: border-box
      margin: 0
      width: 100%

    div
      padding: 0

      #buttons
        a
          display: block
          margin-top: 0.5rem
          margin-left: 0
          width: 100%

          &:not(:first-child)
            margin-top: 0.5rem
            margin-left: 0

footer
  text-align: center