box-shadow(level)
    if level == 1
        box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
    if level == 1.5
        box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
    if level == 2
        box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3)
    if level == 3
        box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3)
    if level == 4
        box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3)
    if level == 5
        box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3)


html, body
    width:100%
    height:100%
    margin:0
    padding:0
    font-family:Roboto
    font-weight:300

header
    padding:2rem 1rem
    width:calc(100% - 2rem)
    box-shadow(3)
    text-align:center
    color:white
    background:linear-gradient(37deg, #2196F3, #64B5F6)
    img
        height:150px
    div
        div
            display:inline-block
            vertical-align:middle
            text-align:center
            h1
                margin:15px
                margin-bottom:20px
                font-size:3.5rem
                font-weight:300

            a
                border:1px solid #ffffff5a
                font-size:16px
                color:#fff
                text-decoration:none
                padding:8px
                margin:20px 10px
                margin-left:15px
                transition:.5s
                background-color:#ffffff00
                &:hover
                    background-color:#ffffff25



main
    font-family: Roboto
    font-weight:300
    margin-top:2.5rem
    margin-left:10%
    width:80%
    img
        height:150px
    a
        color:#2196F3
        font-weight:300
        font-family:Roboto
    h4
        font-weight:300
        font-family:Roboto
        font-size:1.3rem
    h2
        font-family:Roboto
        font-size:2.1rem
        margin-top: 2rem
        margin-bottom: 1rem
        font-weight: 300
        color:#2196F3
    p
        font-weight:300
        font-family:Roboto
        font-size:1.1rem

    blockquote
        font-weight:300
        font-family:Roboto
        font-size:1.3rem
        border-left:3px#2196F3 solid
        margin:0
        padding-left:15px


footer
    margin-top:20px
    border-top:1px #bdbdbd solid
    width:80%
    margin-left:10%
    p
        margin:0
        padding:10px
        text-align:center

@media (max-width:510px)
    header
        padding:1rem

        div div
            width:100%
            h1
                padding:0
                margin:0
            a
                margin:0
                display:block
                width:calc(90% - 16px)
                margin-left:5%
                margin-top:10px


@media(max-width:580px)
    main
        width:90%
        margin-left:5%

    footer
        width:90%
        margin-left:5%

code
    padding: 2px 4px
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
    font-size: 0.9rem
    color: #567482
    background-color: #f3f6fa

pre
    margin-top: 0
    padding:.88rem
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace
    color: #567482
    word-wrap: normal
    background-color: #f3f6fa
    border: solid 1px #dce6f0
    overflow: auto
    font-size: 0.9rem
    line-height: 1.45
    -webkit-overflow-scrolling: touch

pre > code
    padding: 0
    margin: 0
    font-size: 0.9rem
    color: #567482
    word-break: normal
    white-space: pre
    background: transparent
    border: 0

pre code
    display: inline
    max-width: initial
    padding: 0
    margin: 0
    overflow: initial
    line-height: inherit
    word-wrap: normal
    background-color: transparent
    border: 0
