main-color = #0D47A1
hover-color = #1565C0
light-color = #BBDEFB
very-light-color = #E3F2FD

@font-face
  font-weight: 300
  font-style: normal
  font-family: 'Montserrat Light'
  src: url('~@/assets/fonts/MontserratLight.woff2') format('woff2')

@font-face
  font-weight: 400
  font-style: normal
  font-family: 'Montserrat'
  src: url('~@/assets/fonts/Montserrat.woff2') format('woff2')

default-font()
  font-weight: 300
  font-style: normal
  font-family: 'Montserrat'
  line-height: normal

box-shadow()
  box-shadow: 0 3px 6px alpha(main-color, 0.2)