html, body, p, a, td, th, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: 300
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

h1, h2, h3, h4, h5, h6
  color: #1976D2
  font-weight: 400

header
  background-color: #1976D2
  text-align: center

header h1
  padding: 0.25rem 0
  color: #fff
  font-size: 2rem

main
  padding: 0.5rem 5%
  width: 90%

h2
  padding: 0.25rem 0
  font-size: 2rem

p
  padding: 0.25rem 0
  font-size: 1.15rem

table
  overflow-x: auto
  margin-top: 1rem
  min-width: 100%
  border-collapse: collapse
  text-align: center

  &.splits
    td
      padding: 0
      font-size: 15px

td
  padding: 5px 0

  span
    display: block
    font-size: 14px

th
  padding: 5px 0
  font-weight: 400

tr:nth-child(even)
  background-color: #e3f2fd

tr:hover
  background-color: #bbdefb
  transition: 0.3s

footer
  padding: 0.5rem 0
  color: #1976D2
  text-align: center

  p
    font-size: 0.9rem

@media print
  header
    background-color: white
    color: black
    text-align: left

    h1
      color: black
      font-size: 1.75rem

  h1, h2, h3, h4, h5, h6
    padding: 0
    color: black
    font-size: 1.5rem

  a
    display: none

  main
    padding: 0.5rem 0
    width: 100%

  tr:not(:last-child)
    border-bottom: 1px solid #d0d0d0

  footer
    color: black
