::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-thumb
  background: #ECEFF1
  transition: 0.3s ease-out

::-webkit-scrollbar-thumb:hover
  background: #CFD8DC

::-webkit-scrollbar-thumb:active
  background: #B0BEC5

::selection
  background: main-color
  color: white