
@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/Roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/Roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

color-700  = #1976D2
color-500  = #2196F3
color-400  = #42A5F5
color-300  = #64B5F6
color-200  = #90CAF9
color-100  = #BBDEFB
color-50   = #E3F2FD
label-grey = #9E9E9E

*
    box-sizing:border-box

html, body
    height:100%
    width:100%
    margin:0
    padding:0

header
    color:white
    background-color:#0D47A1

    h1
        text-align:center
        font-family:Roboto, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', sans-serif
        font-weight:300
        font-size:2rem
        margin:0
        padding:0.2rem

main
    min-height:calc(100% - 4.55rem)
    padding:1rem 5% 1rem 5%

    h2
        font-family:Roboto, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', sans-serif
        font-weight:300
        font-size:2rem
        margin:0
        padding:0

    p
        font-family:Roboto, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', sans-serif
        font-weight:300
        font-size:1rem
        margin:0
        padding: 0.5rem 0

    table
        width:100%
        border-collapse:collapse
        tr
            transition:.5s

            &:nth-child(even)
                background-color:color-50

            &:hover
                background-color:color-100

        td
            text-align:center
            font-family:Roboto, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', sans-serif
            font-weight:300
            font-size:1rem
            padding:0.4rem

        th
            @extend main table td
            font-weight:400

footer
    color:white
    background-color: color-700
    p
        text-align:center
        font-family:Roboto, 'Segoe UI', Oxygen, Ubuntu, 'Open Sans', sans-serif
        font-weight:300
        font-size:1rem
        margin:0
        padding:0.3rem

@media (max-width:600px)
    .club
        font-size:0
        height:0
        width:0
        padding:0
        margin:0
        border:0

@media (max-width:400px)
    .class
        font-size:0
        height:0
        width:0
        padding:0
        margin:0
        border:0