@require 'helpers'
@require 'titlebar'
@require 'menu'
@require 'input'
@require 'table'

html, body
    height:100%
    width:100%
    margin:0
    padding:0
    overflow-y:hidden

main
    width: calc(100% - 210px)
    max-height: calc(100% - 50px);
    padding:15px 15px 0px 15px
    float:right
    overflow-y: auto

.card
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25)
    padding:10px 15px
    &.info
        text-align:center
        color:color-main
    &.warning
        text-align:center
        color:#E65100
    &.error
        text-align:center
        color:#D32F2F

h1, h2, h3, h4, h5, h6, p
    font-family:Montserrat
    user-select:none
    margin:0

h2
    margin: 5px 0

h3, h4
    margin: 3px 0

p
    margin: 2px 0

main, #download, #entries, #courses, #about, #courses-overview, #results-overview, #welcome, #entries-search, #results
    display:grid
    height:auto
    grid-gap: 15px
    margin-bottom:5px
    .card:last-child
        margin-bottom:15px

#welcome .card.colored
    background: linear-gradient(45deg,#1E88E5,#1565C0)
    color: white
    text-align: center

#about
    word-break: break-word

// Builitn Parts
::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-thumb
    background: #ECEFF1
    transition: .3s

::-webkit-scrollbar-thumb:hover
    background: #CFD8DC

::-webkit-scrollbar-thumb:active
    background: #B0BEC5

::selection
  background: color-main
  color:white

// Vue Fade Transitions
.fade-enter-active, .fade-leave-active
  transition: opacity .2s

.fade-enter, .fade-leave-to
  opacity: 0

.fade-move
  transform:transition .2s