#menu
    width:180px
    height:100%
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25)
    position:fixed
    -webkit-user-select: none
    user-select: none
    overflow-y: hidden
    ::-webkit-scrollbar
        display: none

    button
        width: 180px
        height: 35px
        color:color-main
        background:white
        border:0
        outline:0
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        line-height: normal
        font-size: 16px
        text-align: center
        -webkit-user-select: none
        user-select: none
        transition:.5s

        &:first-child
            margin-top:5px

        &:hover
            color:white
            background:color-main

#menu-download
    overflow-y:auto
    padding-bottom:10px
    button
        margin-top:10px
    .dropdown-menu
        font-family:Montserrat
        font-weight:300
        h4
            font-weight:300
            margin:0
            margin-top:10px
            margin-bottom:3px
            font-size:14px
            color:color-main
            text-align:center

        button
            margin-top:0px
            height:34px
            p
                margin:0
            &:hover
                & svg
                    fill:white
            svg
                height:20px
                margin:-20px 5px 0px 0px
                transition:.3s
                fill:color-main
                float:right

        ul
            padding:0
            margin:0
            width:100%
            text-align:center
            color:color-main
            font-size:16px
            list-style:none
        li
            transition:.3s
            padding:7px 5px
            &:hover
                color:white
                background-color:color-main
        .hidden
            li
                height:0
                padding:0
                font-size:0

        #menu-download-printer-button-content
            font-size:14px
            overflow: hidden
            padding-right:20px
            display: -webkit-box
            -webkit-line-clamp: 1
            -webkit-box-orient: vertical
        #menu-download-printer-dropdown
            font-size:14px

#menu-back
    position:absolute
    bottom: 35px
    background-color:white
    z-index:5
    button
        margin-bottom:10px

