@require 'helpers'
@require 'titlebar'

html,body
    margin:0
    padding:0
    height:100%
    width:100%
    overflow:hidden

main
    outline:0
    user-select:none
    width:100%
    p
        margin:10px
        font-weight:300
        font-size:18px
        font-family: Roboto
    button
        outline:0
        user-select:none
        margin:0
        width:calc(50% - 12px)
        margin: 0 5px 5px 5px
        border:1px solid color-200
        font-family:Roboto
        font-weight:300
        font-size:15px
        transition:.3s
        padding:5px
        color:color-500
        background-color:white
        &:hover
            background-color:color-500
            color:white