@require 'helpers'
@require 'titlebar'

html,body
    margin:0
    padding:0
    height:100%
    width:100%
    overflow:hidden

main
    outline:0
    user-select:none
    width:100%
    p
        margin:10px
        font-size:18px
        font-family: Montserrat

    .buttons
        width:calc(100% - 20px)
        margin-left:10px
        display: grid
        grid-template-columns:1fr 1fr
        grid-template-rows:1fr
        grid-column-gap:10px

    button
        outline:0
        user-select:none
        margin:0
        border:1px solid color-highlight
        font-family:Montserrat
        font-size:15px
        transition:.3s
        padding:5px
        color:color-main
        background-color:white
        &:hover
            background-color:color-main
            color:white