@require 'helpers'
@require 'titlebar'
@require 'input'

html,body
    margin:0
    padding:0
    height:100%
    width:100%
    overflow:hidden

main
    padding:10px 15px
    outline:0
    user-select:none
    width:calc(100% - 30px)
    p
        margin:10px
        font-size:18px
        font-family: Montserrat

.text-input
    width:calc(100% - 20px)
    .bar:after, .bar:before
        height:.5px!important

main button
    margin-top:10px