table
    width:100%
    user-select:none;
    border-collapse:collapse
    td, th
        padding:7px 5px
        text-align:center
        font-weight:300
    th
        user-select:none
    tr
        transition:.3s
        &:last-child
            border:0
        &:hover
            background-color:color-table-light
.stripy
    tr:nth-child(even)
        background-color:color-table-light
    tr:hover
        background-color: color-table
@media(max-width:500px)
    #results .class
        display:none