#titlebar
    width:100%
    height:35px
    color:white
    background:color-main
    -webkit-user-select: none
    -webkit-app-region: drag
    user-select: none

    p
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        line-height: normal
        font-size: 16px
        float:left
        margin:7px 0 7px 12px

    button
        height:100%
        width:50px
        float:right
        border:0
        outline:0
        padding:0
        fill:white
        background:none
        -webkit-app-region: no-drag
        transition:.5s

        &:hover
            background-color:color-highlight

    #titlebar-close
        &:hover
            background-color:#E53935

@media(max-width:230px)
    #titlebar
        #titlebar-maximize, #titlebar-minimize
            display:none
